.img {
    min-height: 100vh;
    width: 100vw;
    /* object-fit: cover; */
    background-size: cover;  
    background-repeat: no-repeat;
}
.contact1 {
        /* position: absolute;
        top: 132px;
        left: 54px; */
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        letter-spacing: 2px;
        min-width: 844px;
        height: 75px;
        position: absolute;
        top: 320px;
        left: 66px;
}
.txt {
    position: absolute;
    top: 520px;
    left: 133px;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    max-width: 508px;
}
.img1 {
    width: 614px;
    height: 120px;
    top: -300px;
    position: relative;
    left: 60px;
}

@media (max-width: 768px) {
    .contact1 {
      font-size: 48px;
      line-height: 48px;
      min-width: auto;
      height: auto;
      top: 250px;
      left: 20px;
      
    }
    img {
        object-fit: cover !important;
    }
  
    .txt {
      top: 400px;
      left: 20px;
      font-size: 20px;
      line-height: 28px;
      max-width: auto;
    }
  
    .img1 {
      width: 500px;
      height: 150px;
      top: -540px;
      left: -60px;
      
    }
  }
  
  /* For larger screens */
  @media (max-width: 1200px) {
    .contact1 {
      font-size: 75px;
      line-height: 75px;
      min-width: 844px;
      height: 75px;
      top: 320px;
      left: 66px;
    }
  
    .txt {
      top: 520px;
      left: 133px;
      font-size: 24px;
      line-height: 24px;
      max-width: 508px;
    }
  
    .img1 {
      width: 614px;
      height: 120px;
      top: -430px;
      left: 60px;
    }
  }