@media (min-width: 580px) and (max-width: 850px) {
    .img-fluid {
        display: none;
    }
    .sf {
        transform: translate(20%);
    }
}
@media (max-width: 580px) {
    .img-fluid {
        display: none;
    }
    .cx {
        transform: translate(-12%);
    }
    .cz {
        transform: translate(-12%);
    }
    .ue {
        transform: translate(-55%);
    }
    .bn {
        /* transform: translate(30%); */
        transform: none;
        position: relative;
        left: 20px;
    }
    
}
@media (min-width: 414px) and (max-width: 580px) {
    .ue {
        transform: translate(-60%); 
    }
}