img {
    width: 100vw;
    /* height: 354px; */
    height: 400px;
}
.wrapper {
    position: relative;
    top: -30px;
}
.contact {
    position: absolute;
    top: 132px;
    left: 54px;
    font-size: 70px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 2px;
}
.shape {
    width: 105px;
    height: 177px;
    background-color: #A8C6EA;
    border-radius: 35px;
    position: absolute;
    top: 505px;
    left: -67px;
}
.speak {
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    color: #011334;
}
.speak1 {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.frame {
    width: 18.38px;
    height: 24px;
    margin-right: 7px;
}
.form {
    position: relative;
    /* left: 560px; */
    /* width: 756px; */
    width: 660px;
    /* height: 535px; */
    height: 500px;
    /* background-color: #BDBDBD; */
    border: 1px solid hsl(0, 0%, 74%);
    padding: 50px;
    
    background-color: #F9F9F9;
    box-shadow: 0px 0px 20px 0px #0000001A;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    position: relative;
    /* left: 250px; */
    top: 40px;
    /* left: 80px; */
    /* left: 230px; */
    left: 260px;
}
::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #BDBDBD;
}
input, textarea {
    background-color: #F9F9F9;
    /* margin-top: 10px; */
    position: relative;
    top: -25px;
}
.btn1 {
    border-radius: 24px;
    width: 472px;
    position: relative;
    height: 45px;
    transform: translate(-50%, -50%) !important;
   
}

@media screen and (max-width: 768px) {
    .contact {
        font-size: 8vw;
    }
    
    .speak {
        font-size: 4vw;
    }

    .speak1 {
        font-size: 2vw;
    }

    .form {
        width: 90%;
        padding: 5vw;
        transform: translate(-46%, 1%);
    }

    .btn1 {
        height: 15vw;
    }
}

@media screen and (max-width: 490px) {
    .contact {
        font-size: 8vw;
    }
    
    .talk {
        display: flex;
        flex-direction: column-reverse;
    }

    .speak {
        font-size: 5vw;
    }

    .speak1 {
        font-size: 2.5vw;
    }

    .form {
        width: 100%;
        padding: 8vw;
    }

    .btn1 {
        height: 18vw;
    }
    .shape {
        display: none; 
      }
      
      input[type="text"] {
          width: 150px;
          position: relative;
          /* left: 50px; */
          left: 64px;
          padding: 8px;
          margin-bottom: 8px;
      }
      #firstName {
        position: relative;
        
      }
      #lastName {
          position: relative;
          /* left: 5px; */
          left: 24px;
      }
      input[type="email"] {
          width: 312px;
          position: relative;
          left: 130px;
      }
      #number {
          width: 312px;
          position: relative;
          left: 100px;
      }
      #exampleFormControlTextarea1 {
          width: 55px;
          position: relative;
            /* left: -35px; */
            /* left: -12px; */
            left: -4px;

      }
      .form {
          /* transform: translate(-68%, -1%); */
          /* transform: translate(-70%, 1%) !important; */
          transform: translate(-66%, 1%) !important;
      }
      textarea {
        width: calc(90% - 80px) !important; 
        position: relative;
        left: -10px;
      }
      .btn1 {
        transform: translate(-70%, -100%) !important;
        width: 200px;
        text-wrap: nowrap;
      }
      .e {
        
        position: relative;
  left: 4px;
      }
}
@media (max-width: 428px) {
  .x {
    /* transform: translate(-19%); */
    transform: translate(-8%);
    max-width: 119%;

  }
  .v {
    transform: translate(50%);
  }
}

@media (min-width: 400px) and (max-width: 875.98px) {
    .shape {
      display: none; 
    }
    .dd {
      width: 100px;
  height: 54px;
    }
    /* .hh {
      position: relative;
      left: 35px !important;
    }
    .mn {
      position: absolute;
      left: -25px !important;
    }
    .nm {
      position: absolute;
      left: 100px !important;
    }
    .ll {
      position: absolute;
      left: 70px !important;
    }
    .lj {
      position: absolute;
      left: -60px !important;
    }
    .dd {
      width: 80% !important;
      position: absolute;
      left: 200px !important;
    } */
    input[type="text"] {
        width: 150px;
        position: relative;
        left: 130px;
        padding: 8px;
        margin-bottom: 8px;
    }
    #firstName {
        position: relative;
        left: 100px;
    }
    #lastName {
        position: relative;
        left: 50px;
    }
    input[type="email"] {
        width: 312px;
        position: relative;
        /* left: 180px; */
        left: 170px;
    }
    #number {
        width: 312px;
        position: relative;
        /* left: 150px; */
        /* left: 140px; */
        left: 139px;
    width: 312px !important;
    }
    #exampleFormControlTextarea1 {
        width: 55px;
        position: relative;
        left: 10px;
    }
    .form {
        /* transform: translate(-68%, -1%); */
        transform: translate(-67%, 1%) !important; 
    }
    textarea {
        width: calc(75% - 10px) !important; 
        position: relative;
        left: -10px;
      }
    .form.v.align-items-center {
      position: relative;
      left: 270px;
    }
  
    .talk {
      flex-direction: column-reverse; 
    }
  
    .wrapper {
      margin-top: 40px; 
      text-align: center; 
    }
  
    .form {
      width: 90%; 
      margin: 0 auto;
    }
  
    .btn1 {
      /* width: 100%;  */
      width: 250px;
      left: auto;
      top: auto; 
      margin-top: 20px; 
      margin-left: 20px;
      text-wrap: nowrap;
    }
    .e {
      position: relative;
  left: 103px;
    }
   
  }
  @media (min-width: 575px) and (max-width:925px){
    .form {
        /* transform: translate(-45%, -1%); */
        transform: translate(-40%, 1%) !important;
    }
    .shape {
        display: none; 
      }
      input[type="text"] {
          width: 200px;
          position: relative;
          left: 20px;
          padding: 8px;
          margin-bottom: 8px;
      }
      #lastName {
          position: relative;
          left: -30px;
      }
      input[type="email"] {
          /* width: 490px; */
          position: relative;
          left: 20px;
        }
        .nm {
        width: 375px !important;

      }
      #number {
          /* width: 490px; */
          position: relative;
          left: 20px;
          width: 375px !important;
      }
      #exampleFormControlTextarea1 {
          width: 55px;
          position: relative;
          left: 20px;
          min-width: 495px;
        }
        #firstName {
            position: relative;
            left: 20px;
        }
  }
  @media (min-width: 1250px) and (max-width: 1400px) {
    .form {
        position: relative;
        left: 10px;
    }
    
  }

.img {
    min-height: 100vh;
    width: 100vw;
    /* object-fit: cover; */
    background-size: cover;  
    background-repeat: no-repeat;
  }
  .contact1 {
        /* position: absolute;
        top: 132px;
        left: 54px; */
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        letter-spacing: 2px;
        min-width: 844px;
        height: 75px;
        position: absolute;
        top: 320px;
        left: 66px;
  }
  .txt {
    position: absolute;
    top: 520px;
    left: 133px;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    max-width: 508px;
  }
  .img1 {
    width: 614px;
    height: 120px;
    top: -300px;
    position: relative;
    left: 60px;
  }
  
  @media (max-width: 768px) {
    .contact1 {
      font-size: 48px;
      line-height: 48px;
      min-width: auto;
      height: auto;
      top: 250px;
      left: 20px;
      
    }
    img {
        object-fit: cover !important;
    }
  
    .txt {
      top: 400px;
      left: 20px;
      font-size: 20px;
      line-height: 28px;
      max-width: auto;
    }
  
    .img1 {
      width: 500px;
      height: 150px;
      top: -540px;
      left: -60px;
      
    }
  }
  
  /* For larger screens */
  @media (max-width: 1200px) {
    .contact1 {
      font-size: 75px;
      line-height: 75px;
      min-width: 844px;
      height: 75px;
      top: 320px;
      left: 66px;
    }
  
    .txt {
      top: 520px;
      left: 133px;
      font-size: 24px;
      line-height: 24px;
      max-width: 508px;
    }
  
    .img1 {
      width: 614px;
      height: 120px;
      top: -430px;
      left: 60px;
    }
  }
@media (max-width: 320px) {
  .v {
    transform: translate(-81%) !important;
  }
  .ll {
    width: 280px !important;
  }
  .lj {

  }
}
@media (max-width: 575.98px) { 
  body {
    overflow-x: hidden ;
  }
  /* Other styles for smaller screen sizes */
}

@media (min-width: 576px) {
  body {
    overflow-x: hidden ;
  }
}

@media (min-width: 1024px) and (max-width: 1250px) {
  .v {
    transform: translate(-45%) !important;
  }
}

@media (min-width: 400px) and (max-width: 420px) {
  .form {
    transform: translate(-70%) !important;
  }
  .x {
    transform: translate(-15%) !important;
  }
  .dd {
    transform: translate(-60%, -70%) !important;
  }
}