.register-child {
    position: absolute;
    /* top: -274.77px;
    left: -205.44px;
    border-radius: 130px;
    width: 876.84px;
    height: 1302.28px;
    object-fit: contain;
    transform: rotate(-179.38deg); */
    width: 620.84px;
  height: 1100.28px;
  object-fit: cover;
}
input {
  border: none;
  outline: none;
}
.arcreality1 {
    position: absolute;
    top: 125px;
    left: 15px;
    font-size: 112px;
    letter-spacing: 0.17em;
    font-family: var(--font-jomhuria);
    color: var(--color-antiquewhite);   
}
.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* width: 100vw; */
    transform: translate(10%, -2%);
}
.register-item {
    position: absolute;
    /* top: 229px; */
    top: 195px;
    left: 116px;
    width: 555px;
    height: 758px;
    object-fit: cover;
}
  .cerate-new-account {
    position: absolute;
    top: 160px;
    left: 623px;
    font-size: 80px;
    display: inline-block;
    color: var(--color-darkslategray);
    width: 817px;
    height: 71px;
  }
  .gridiconsvisible,
  .password {
    position: relative;
    flex-shrink: 0;
  }
  .password {
    display: inline-block;
    width: 105px;
  }
.gridiconsvisible {
    width: 32px;
    height: 32px;
    overflow: hidden;
    object-fit: cover;
    position: absolute;
    right: 20px;
}
  .register-inner,
  .password-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .password-parent {
    flex-shrink: 0;
    gap: 315px;
  }
  .register-inner {
    position: absolute;
    top: 472px;
    left: 791px;
    border-radius: var(--br-3xs);
    border: 1px solid var(--color-silver);
    box-sizing: border-box;
    width: 481px;
    padding: var(--padding-base);
  }
  .email {
    position: relative;
  }
  .email-wrapper,
  .first-name-wrapper,
  .last-name-wrapper {
    position: absolute;
    top: 396px;
    left: 791px;
    border-radius: var(--br-3xs);
    border: 1px solid var(--color-silver);
    box-sizing: border-box;
    width: 481px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-base);
  }
  .first-name-wrapper,
  .last-name-wrapper {
    top: 320px;
    width: 223px;
  }
  .last-name-wrapper {
    left: 1049px;
  }
  .confirm-password input {
    position: relative;
    display: inline-block;
    width: 179px;
    flex-shrink: 0;
  }
  .confirm-password-parent  {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 241px;
  }
  .frame-div,
  .sign-up-wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
  }
  .frame-div {
    top: 548px;
    left: 791px;
    border-radius: var(--br-3xs);
    border: 1px solid var(--color-silver);
    width: 481px;
    justify-content: flex-start;
    padding: var(--padding-base);
  }
  /* .sign-up-wrapper {
    top: 663px;
    left: 836px;
    border-radius: 15px;
    background-color: var(--color-darkslategray);
    width: 411px;
    height: 59px;
    justify-content: center;
    padding: var(--padding-base) 89px;
    color: var(--color-antiquewhite);
    font-family: var(--font-jura);
  } */
  .frame-child {
    position: relative;
    border-radius: var(--br-16xl);
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
  .frame1-parent {
    position: absolute;
    top: 884px;
    left: 952px;
    height: 59px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 57px;
  }
  .sign1-up-with {
    position: absolute;
    top: 824px;
    left: 960px;
    font-size: 24px;
    letter-spacing: 0.02em;
    line-height: 24px;
    font-weight: 600;
    font-family: var(--font-jura);
    color: rgba(153, 146, 146, 0.87);
    text-align: center;
  }
  .vec-child1,
  .vector1-icon {
    position: absolute;
    top: 785.12px;
    left: 814px;
    width: 201px;
    height: 1.49px;
    object-fit: contain;
  }
  .vec-child1 {
    top: 785.19px;
    left: 1065px;
    width: 183px;
    height: 1.35px;
  }
  .or1 {
    position: relative;
    font-weight: 600;
    filter: blur(1px);
  }
  .or1-wrapper {
    position: absolute;
    top: 764px;
    left: 1016px;
    background-color: transparent;
    width: 49.8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 4px;
    box-sizing: border-box;
    color: var(--color-darkslategray);
    font-family: var(--font-jura);
  }
.register {
    position: relative;
    background-color: #fff;
    width: 100%;
    /* height: 1024px; */
    height: 870px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-lightgray);
    font-family: var(--font-josefin-sans);
}
.sign-up-button {
    top: 663px;
    left: 836px;
    border-radius: 15px;
    background-color: var(--color-darkslategray);
    width: 411px;
    height: 59px;
    justify-content: center;
    padding: var(--padding-base) 89px;
    color: var(--color-antiquewhite);
    font-family: var(--font-jura);
}

input {
  border: none;
  background: none;
  position: absolute;
  top: 0px;
  max-width: 100%;
}
@media (max-width: 570px) {
  .already1 {
    
    position: relative;
    left: -280px !important;
    top: 557px !important;
    text-wrap: nowrap;
  }
  .sign-up-wrapper1 {
    transform: translate(11%, -173%);
  }
  .wrap1 {
    position: relative;
    width: 40%;
    left: 177px;
    top: 330px !important;
  }
  .su {
    position: relative;
    top: 600px !important;
  }
}

@media (min-width: 550px) and (max-width: 570px) {
  .we {
    position: relative;
    left: 10px !important;
  }
}
@media (min-width: 570px) and (max-width: 577px) {
  .we {
    position: relative;
    left: 10px !important;
  }
  .sign-up-wrapper1 {
    transform: translate(11%, -173%);
  }
  .wrap1 {
    position: relative;
    width: 40%;
    left: 270px !important;
    top: 330px !important;
  }
  .su {
    position: relative;
    top: 600px !important;
  }
}
/* For smaller screens */
@media (max-width: 768px) {
  .arcreality1 {
    display: none;
  }
  .already1 {
    
    position: relative;
    /* left: -280px !important; */
    left: -236px !important;
    top: 657px !important;
    text-wrap: nowrap;
  }
  .cerate-new-account {
    position: relative;
    left: 10px;
    min-width: 300px;
    text-align: left;
  }
  .register-item {
    display: none;
  }
  .register-child {
    display: none;
  }
  .cerate-new-account {
    font-size: 48px;
    width: auto;
  }
  .register-item {
    width: 100%;
    height: auto;
  }
  .register-inner,
  .email-wrapper,
  .first-name-wrapper,
  .last-name-wrapper,
  .frame-div {
    width: 80%;
    left: 5%;
    margin-top: 10px;
    height: 60px;
    
  }
  .password-parent,
  .confirm-password-parent {
    gap: 20px;
  }
  .frame1-parent {
    gap: 20px;
  }
  .sign1-up-with,
  .or1 {
    font-size: 18px;
  }
  .or1-wrapper {
    position: relative;
    left: 180px;
    top: 545px;
  }
  .vec-child1 {
    position: relative;
    left: 0px;
    right: 20px;
    top: 585px;
  }
  .vector1-icon {
    position: relative;
    left: 230px;
    top: 615px;
  }
  .sign1-up-with {
    position: relative;
    left: 20px;
    top: 700px;
    font-size: 20px;
  }
  .frame1-parent {
    position: relative;
    left: 140px;
    top: 810px;
    bottom: 10px;
  }
  
}


.register {
  transform: translate(-10%);
}
input {
  border: none !important;
  border: 1px solid #C6C6C6 !important;
}
.pass {
  border: none !important;
}
.email {
  border: none !important;
}
.confirm-password {
  border: none !important;
}
@media (min-width: 350px) and (max-width: 750px) {
  .sign-up-button {
    position: relative;
    top: 500px;
    left: 40px;
    max-width: fit-content;
  }
  .we {
    transform: translate(-50%);
  }
  .pass {
    transform: translate(-2%);
  }
  .confirm {
    transform: translate(-8%);
  }
  .wrap1 {
    position: relative;
    width: 40%;
    left: 177px;
    top: 190px;
  }
  .wrap2 {
    transform: translate(-68%);
  }
  .wrap3 {
    transform: translate(-68%);
  }
  .wrap {
    width: 40%;
  }
  .sign2-up {
    position: relative;
    left: 13px;
    top: 600px;
    font-size: 20px;
  }
  .frame2-parent {
    position: relative;
    left: 120px;
    top: 700px;
    bottom: 10px;
  }
  .or2 {
    position: relative;
    left: 159px;
    top: 465px;
  }
  .vector2-icon {
    position: relative;
  left: 200px;
  top: 532px;
  }
  .vec2 {
    position: relative;
    left: -16px;
    right: 20px;
    top: 503px;
  }
}
@media (min-width: 410px) and (max-width: 450px) {
  .sign-up-button {
    position: relative;
    top: 500px;
    left: 60px;
    max-width: fit-content;
  }
  .we {
    transform: translate(-55%);
  }
  .pass {
    transform: translate(-2%);
  }
  .confirm {
    transform: translate(-8%);
  }
  .wrap1 {
    position: relative;
    width: 40%;
    left: 200px;
    top: 190px;
  }
  .wrap2 {
    transform: translate(-110%);
  }
  .wrap3 {
    transform: translate(-110%);
  }
  .wrap {
    width: 40%;
  }
  .vector2-icon {
    position: relative;
  left: -18px;
  top: 585px;
  }
  .sign2-up {
    position: relative;
    left: -10px;
    top: 600px;
    font-size: 20px;
  }
  .frame2-parent {
    position: relative;
    left: 120px;
    top: 700px;
    bottom: 10px;
  }
  .vector2-icon {
    position: relative;
  left: -30px;
  top: 504px;
  }
  .vec2 {
    position: relative;
    left: -16px;
    right: 20px;
    top: 503px;
  }
  
}
@media (min-width: 750px) and (max-width: 1250px) {
  .register-child {
    display: none;
  }
  .arcreality1 {
    display: none;
  }
  .register-item {
    display: none;
  }
  .cerate-new-account {
    position: relative;
    left: 50px;
    font-size: 50px;
    top: 20px;
  }
  .sign-up-wrapper1 {
    position: relative;
  left: -670px;
  top: -208px;
  }
  .wrap {
    position: relative;
  top: 294px;
  width: 25%;
  padding: 8px;
  }
  .wrap1 {
    position: relative;
  top: 222px;
  width: 25%;
  padding: 8px;
  }
  .wrap2 {
    transform: translate(-16%) !important;
  }
  .wrap3 {
    transform: translate(-16%) !important; 
  }
  .sign-up-button {transform: translate(-4%, -263%);}
  .we {
    transform: translate(-4%) !important;
    top: 0;
    min-width: 100%;
  }
  .frame2-parent {
    position: relative;
    left: 260px;
    top: 500px;
  }
  .sign2-up {
    position: relative;
    left: -87px;
    top: 391px;
  }
  .or2 {
    transform: translate(-289%);
    position: absolute;
    left: 470px;
    top: 590px
  }
  .vec2 {
    position: relative;
  left: 120px;
  top: 300px;
  }
  .vector2-icon {
    position: absolute;
  left: 390px;
  top: 615px;
  }
}
@media (min-width: 390px) and (max-width: 410px) {
  .vector2-icon {
    position: relative;
    left: -29px;
    top: 505px;
  }
  .wrap1 {
    position: relative;
    left: 190px;
  }
}
@media (min-width: 810px) and (max-width: 915px) {
  .sign-up-wrapper1 {
    transform: translate(1%, 4%);
  }
}
@media (min-width: 1280px) and (max-width: 1400px) {
  .cerate-new-account {
    position: absolute;
    left: 620px;
    font-size: 70px;
  }
}
@media (min-width: 1024) and (max-width:1250px) {
  .wrap1 {
    transform: translate(70%, 97%);
  }
}
@media (max-width:320px) {
  .sign-up-button {
    position: relative;
    top: 500px;
    left: 40px;
    max-width: fit-content;
  }
  .we {
    transform: translate(-50%);
  }
  .pass {
    transform: translate(-2%);
  }
  .confirm {
    transform: translate(-8%);
  }
  .wrap1 {
    position: relative;
    width: 40%;
    left: 177px;
    top: 190px;
  }
  .wrap2 {
    transform: translate(-68%);
  }
  .wrap3 {
    transform: translate(-68%);
  }
  .wrap {
    width: 40%;
  }
  .sign2-up {
    position: relative;
    left: 30px;
    top: 600px;
    font-size: 20px;
  }
  .frame2-parent {
    position: relative;
    left: 120px;
    top: 700px;
    bottom: 10px;
  }
  .or2 {
    position: relative;
    left: 159px;
    top: 465px;
  }
  .vector2-icon {
    position: relative;
  left: 200px;
  top: 532px;
  }
  .vec2 {
    position: relative;
    left: -16px;
    right: 20px;
    top: 503px;
  }
}
@media (min-width: 1025) and (max-width: 1250) {
  .on {
    transform: translate(93%, 24%);
  }
  
}
/* @media (min-width: 350px) and (max-width: 750px) {
  .last-name-wrapper {
    position: relative;
    top: 110px;
    left: 180px;
    width: 150px;
    .email {
      transform: translate(-55%, 7%);
    }
  }
  .first-name-wrapper {
    position: relative;
    top: 180px;
    width: 150px;
    .email {
      transform: translate(-55%, 7%);
    }
  }
  .email {
    transform: translate(-35%);
  }
  .password {
    transform: translate(-29%);
  }
  .confirm-password {
    transform: translate(-38%);
  }
  .vector1-icon {
    position: relative;
    top: 300px;
  }
  .or1 {
    position: relative;
    top: -310px;
  }
  .vec-child1 {
    position: relative;
    top: 272px;
  }
}
@media (min-width: 750px) and (max-width: 1250px) {
  .last-name-wrapper {
    position: relative;
    top: 110px;
    left: 380px;
    width: 280px;
    .email {
      transform: translate(-12%, 7%);
    }
  }
  .first-name-wrapper {
    position: relative;
    top: 180px;
    width: 280px;
    .email {
      transform: translate(-12%, 7%);
    }
  }
  .email {
    transform: translate(-5%);
  }
  .email-wrapper {
    position: absolute;
    top: 400px;
  }
  .password {
    transform: translate(-2%);
  }
  .register-inner {
    position: relative;
    top: 400px;
  }
  .confirm-password {
    transform: translate(-3%);
  }
  .cerate-new-account {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .vector1-icon {
    position: relative;
    top: 200px;
  }
  .or1 {
    position: relative;
    top: -310px;
  }
  .vec-child1 {
    position: relative;
    top: 272px;
    left: 150px;
  }
} */

@media (min-width: 750px) and (max-width: 769px) {
  .sign-up-wrapper1 {
    position: relative;
    left: 50px;
  }
  .wrap1 {
    position: absolute;
    left: 400px;
    top: 309px;
    width: 210px;
}
.su {
  border-radius: 15px;
  position: relative;
  left: 162px !important;
  top: 550px !important;
}
.frame2-parent {
  position: relative;
  top: 550px;

}
.wrap {
  position: relative;
  top: 322px;
  left: 43px;
  width: 210px;
}
}
@media (min-width: 450px) and (max-width: 460px) {
  .wrap1 {
    position: relative;
    width: 40%;
    left: 213px;
    top: 249px;
  }
  .wrap2 {
    position: relative;
    left: 85px !important;
  }
  .wrap3 {
    position: relative;
    left: 85px !important;
  }
  .sign2-up {
    position: relative;
    left: -20px !important;
  }
  .vector2-icon {
    position: relative;
    left: -31px;
    top: 504px;
  }
  .cerate-new-account {
    font-size: 45px;
  }
  .frame2-parent {
    position: relative;
    left: 180px;
  }
  .su {
    position: relative;
    left: 150px;
  }
  .vec2 {
    position: relative;
    left: 56px;
    right: 32px;
    top: 503px;
  }
  .or2 {
    position: relative;
    left: 106px ;
  }
  .vector2-icon {
    position: relative;
    left: 20px !important;
    top: 504px;
  }
}
@media (min-width: 460px) and (max-width: 465px) {
  .wrap1 {
    position: relative;
    width: 40%;
    left: 213px;
    top: 249px;
  }
  .wrap2 {
    position: relative;
    left: 85px !important;
  }
  .wrap3 {
    position: relative;
    left: 85px !important;
  }
  .sign2-up {
    position: relative;
    left: -20px !important;
  }
  .vector2-icon {
    position: relative;
    left: -31px;
    top: 504px;
  }
  .cerate-new-account {
    font-size: 45px;
  }
}
@media (min-width: 465px) and (max-width: 500px) {
  .wrap1 {
    position: relative;
    width: 40%;
    left: 230px;
    top: 249px;
  }
  .wrap2 {
    position: relative;
    left: 100px !important;
  }
  .wrap3 {
    position: relative;
    left: 100px !important;
  }
  .sign2-up {
    position: relative;
    left: -20px !important;
  }
  .vector2-icon {
    position: relative;
    left: -31px;
    top: 504px;
  }
  .cerate-new-account {
    font-size: 45px;
  }
}
@media (min-width: 500px) and (max-width: 550px) {
  .wrap1 {
    position: relative;
    width: 40%;
    left: 250px;
    top: 249px;
  }
  .wrap2 {
    position: relative;
    left: 120px !important;
  }
  .wrap3 {
    position: relative;
    left: 120px !important;
  }
  .we {
    transform: translate(-42%);
  }
  .sign2-up {
    position: relative;
    left: -20px !important;
  }
  .vector2-icon {
    position: relative;
    left: -31px;
    top: 504px;
  }
  .cerate-new-account {
    font-size: 45px;
  }
  .frame2-parent {
    position: relative;
    left: 180px;
  }
  .su {
    position: relative;
    left: 150px;
  }
  .vec2 {
    position: relative;
    left: 56px;
    right: 32px;
    top: 503px;
  }
  .or2 {
    position: relative;
    left: 157px !important;
  }
  .vector2-icon {
    position: relative;
    left: 11px;
    top: 504px;
  }
}
@media (min-width: 550px) and (max-width: 750px) {
  .wrap1 {
    position: relative;
    width: 40%;
    left: 300px;
    top: 249px;
  }
  .pass {
    transform: translate(-1%);
  }
  .confirm {
    transform: translate(-1%);
  }
  .wrap2 {
    position: relative;
    left: 140px !important;
  }
  .wrap3 {
    position: relative;
    left: 140px !important;
  }
  .we {
    transform: translate(-3%);
  }
  .sign2-up {
    position: relative;
    left: -40px !important;
  }
  .vector2-icon {
    position: relative;
    left: -51px;
    top: 504px;
  }
  .cerate-new-account {
    font-size: 45px;
  }
  .frame2-parent {
    position: relative;
    left: 230px;
  }
  .su {
    position: relative;
    left: 180px;
  }
  .vec2 {
    position: relative;
    left: 180px;
    right: 32px;
    top: 503px;
  }
  .or2 {
    position: relative;
    left: 257px !important;
  }
  .vector2-icon {
    position: relative;
    left: 95px;
    top: 504px;
  }
}
@media (min-width: 658px) and (max-width: 760px) {
  .wrap1 {
    position: relative;
    width: 40%;
    left: 370px;
    top: 249px;
  }
  .pass {
    transform: translate(-1%);
  }
  .confirm {
    transform: translate(-2%);
  }
  .wrap2 {
    position: relative;
    left: 160px !important;
  }
  .wrap3 {
    position: relative;
    left: 160px !important;
  }
  .we {
    transform: translate(-3%);
  }
  .sign2-up {
    position: relative;
    left: -40px !important;
  }
  .vector2-icon {
    position: relative;
    left: -51px;
    top: 504px;
  }
  .cerate-new-account {
    font-size: 45px;
  }
  .frame2-parent {
    position: relative;
    left: 260px;
  }
  .su {
    position: relative;
    left: 200px;
  }
  .vec2 {
    position: relative;
    left: 180px;
    right: 32px;
    top: 503px;
  }
  .or2 {
    position: relative;
    left: 257px !important;
  }
  .vector2-icon {
    position: relative;
    left: 95px;
    top: 504px;
  }
}
.already1 {
  position: relative;
  top: 715px;
  left: 632px;
  color: #283D4F;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .su {
    transform: translate(-5%,  50%);
  }
  .email-wrapper {
    width: 570px;
  }
  .register-inner {
    width: 570px;
  }
  .frame-div {
    width: 570px;
  }
  .first-name-wrapper {
    width: 250px;
  }
  .last-name-wrapper {
    width: 250px;
    position: relative;
    left: 350px;
    top: 250px;
  }
  .wrap2 {
    position: relative;
    left: 30px !important;
  }
  .wrap1 {
    /* position: relative !important;
  left: 1100px !important;
  top: 219px !important; */
  transform: translate(300%, -27px) !important;
  }
  .su {
    position: relative;
  top: 500px;
  left: 900px;
  }
}
@media (min-width: 1024px) and (max-width: 1250px) {
  .we {
    transform: translate(-1%) !important;
  }
  .wrap {
    width: 250px;
    height: 70px;
  }
  
}
@media (min-width: 700px) and (max-width: 725px) {
  
  .wrap1 {
    position: relative;
    left: 330px;
  }
  
}
@media (min-width: 725px) and (max-width: 750px) {
  
  .wrap1 {
    position: relative;
    left: 340px;
  }
  
}
@media (min-width: 658px) and (max-width: 700px) {
  
  .wrap1 {
    position: relative;
    left: 320px;
  }
  
}
@media (min-width: 750px) and (max-width: 900px) {
  
  .wrap3 {
    position: relative;
    left: 25px !important;
  }
  .wrap1 {
    position: relative;
    left: 350px !important;
    width: 200px
  }
  
@media (min-width: 770px) and (max-width: 901px) {
  
  .wrap1 {
    position: relative !important;
  left: 330px !important;
  top: 250px !important;
  width: 250px !important;
  }
  
}

}
@media (min-width: 926px) and (max-width: 1024px) {
  
  .wrap1 {
    position: relative !important;
  left: 330px !important;
  top: 250px !important;
  /* width: 250px !important; */
  height: 70px !important;
  }
  .wrap2 {
    position: relative !important;
  left: 35px !important;
  }
  .wrap3 {
    position: relative;
  left: 41px;
  height: 50px;
  }
}

@media (min-width: 1024px) and (max-width: 1251px) {
  .wrap3 {
    position: relative;
    left: 40px;
  }
  .wrap1 {
    height: 70px;
  }
  .wrap2 {
    position: relative;
    left: 40px;
  }
}