* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
section {
  padding: 70px 10% 70px;
}
img {
  width: 43px;
  height: 64px;
}
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 3.5rem;
  background-color: #F8F9FA;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
}
.footer-content h4 {
  
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #92989F;
  margin-bottom: 1.5rem;
  margin-left: 30px;
}
.footer-content li{
  margin-bottom: 16px;
}
.footer-content li a {
  display: block;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.40s ease;
}
.footer-content li a:hover {
  transform: translateY(-3px) translateX(-5px);
  color: #000;
}
.footer-content p {
  margin: 20px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
@media (max-width: 1690px) {
  section {
    padding: 50px 5% 40px;
  }
}
@media (max-width: 1120px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
  }
}
@media (max-width: 700px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 2.5rem;
  }
}