/* .modern-column-dark-frame-child {
    width: 1440px;
    position: relative;
    background-color: var(--color-darkslategray-100);
    height: 1024px;
    display: none;
    max-width: 100%;
  }
  .exterior-designs,
  .in-a-world1 {
    position: relative;
    display: inline-block;
    max-width: 100%;
  }
  .exterior-designs {
    margin: 0;
    width: 756px;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
    z-index: 5;
  }
  .in-a-world1 {
    height: 408px;
    flex: 1;
    z-index: 4;
  }
  .vision-rectangle-icon {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-116xl);
    max-height: 100%;
    width: 672px;
    object-fit: cover;
    z-index: 4;
  }
  .wrapper-vector-4-child {
    width: 100%;
    height: 100%;
    z-index: 5;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1.012);
  }
  .wrapper-vector-4 {
    position: absolute;
    top: 214px;
    left: 566px;
    width: 694.5px;
    height: 16px;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list-text {
    height: 946px;
    width: 1261px;
    position: absolute;
    margin: 0 !important;
    top: -297px;
    left: -772px;
  }
  .tagline-text {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    max-width: 100%;
  }
  .show-all1 {
    position: relative;
    font-size: var(--font-size-13xl);
    font-family: var(--font-josefin-sans);
    color: var(--color-darkslategray-100);
    text-align: left;
  }
  .show-all-wrapper {
    cursor: pointer;
    border: 0;
    padding: var(--padding-6xl) var(--padding-62xl) var(--padding-6xl)
      var(--padding-61xl);
    background-color: var(--color-antiquewhite-100);
    border-radius: var(--br-mini);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    z-index: 4;
  }
  .tagline-text-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-64xl);
    max-width: 100%;
  }
  .modern-column-dark-frame,
  .modern-column-dark-frame-inner {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .modern-column-dark-frame-inner {
    width: 601px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 70px;
    font-size: var(--font-size-13xl);
    color: var(--color-white);
    font-family: var(--font-jomolhari);
  }
  .modern-column-dark-frame {
    align-self: stretch;
    background-color: var(--color-darkslategray-100);
    flex-direction: column;
    align-items: flex-end;
    padding: 126px 61px var(--padding-85xl);
    gap: var(--gap-106xl);
    z-index: 3;
    text-align: left;
    font-size: var(--font-size-77xl);
    color: var(--color-antiquewhite-100);
    font-family: var(--font-josefin-sans);
  }
  .rectangle {
    height: 632px;
    width: 1440px;
    position: relative;
    background-color: var(--color-whitesmoke);
    flex-shrink: 0;
    display: none;
    z-index: 0;
  }
  .tagline-container-icon {
    width: 278px;
    height: 272px;
    position: relative;
    object-fit: cover;
    z-index: 1;
  }
  .tagline {
    height: 144px;
    flex: 1;
    position: relative;
    letter-spacing: 0.3px;
    line-height: 48px;
    font-weight: 600;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
  }
  .modern-column-frame,
  .modern-column-frame-light {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .modern-column-frame-light {
    align-self: stretch;
    flex-direction: row;
    padding: 0 34px;
  }
  .modern-column-frame {
    width: 448px;
    flex-shrink: 0;
    flex-direction: column;
    padding: 0 var(--padding-17xl) 0 0;
    gap: 9px;
    font-size: var(--font-size-13xl);
    color: var(--color-gray-100);
  }
  .title {
    position: relative;
    letter-spacing: 0.3px;
    line-height: 24px;
    font-weight: 600;
    z-index: 1;
  }
  .ar-models,
  .design-plans,
  .exterior-design,
  .interior-design {
    margin: 0;
  }
  .list {
    align-self: stretch;
    height: 256px;
    position: relative;
    letter-spacing: 0.45px;
    line-height: 64px;
    color: var(--color-gray-100);
    display: inline-block;
    z-index: 1;
  }
  .modern-3-column-light-inner,
  .title-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .title-parent {
    width: 192px;
    gap: 19px;
  }
  .modern-3-column-light-inner {
    width: 264px;
    flex-shrink: 0;
    padding: 90px 0 0;
    box-sizing: border-box;
  }
  .title1 {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.3px;
    line-height: 24px;
    font-weight: 600;
    z-index: 1;
  }
  .facebook,
  .instagram,
  .linkedin,
  .twitter {
    margin: 0;
  }
  .list1 {
    align-self: stretch;
    height: 256px;
    position: relative;
    text-decoration: underline;
    letter-spacing: 0.45px;
    line-height: 64px;
    color: var(--color-gray-100);
    display: inline-block;
    z-index: 1;
  }
  .show-all-button,
  .show-all-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .show-all-button {
    align-self: stretch;
    align-items: flex-end;
    gap: var(--gap-lg);
  }
  .show-all-button-wrapper {
    width: 193px;
    flex-shrink: 0;
    align-items: flex-start;
    padding: var(--padding-64xl) 0 0;
    box-sizing: border-box;
  }
  .list2,
  .title2 {
    align-self: stretch;
    position: relative;
    z-index: 1;
  }
  .title2 {
    letter-spacing: 0.3px;
    line-height: 24px;
    font-weight: 600;
  }
  .list2 {
    letter-spacing: 0.45px;
    line-height: 64px;
    color: var(--color-gray-100);
    white-space: nowrap;
  }
  .modern-column-dark-frame1,
  .title-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .title-group {
    align-self: stretch;
    align-items: flex-end;
    gap: var(--gap-lg);
  }
  .modern-column-dark-frame1 {
    width: 295px;
    flex-shrink: 0;
    align-items: flex-start;
    padding: var(--padding-64xl) 0 0;
    box-sizing: border-box;
  }
  .modern-3-column-light-child {
    height: 616.8px;
    width: 619.9px;
    position: absolute;
    margin: 0 !important;
    right: 84.1px;
    bottom: -315.8px;
    border-radius: var(--br-35xl);
    flex-shrink: 0;
    object-fit: contain;
    z-index: 3;
  }
  .modern-3-column-light {
    flex: 1;
    background-color: var(--color-whitesmoke);
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 11px var(--padding-85xl) 196px 88px;
    box-sizing: border-box;
    position: relative;
    gap: 16px;
    max-width: 100%;
  }
  .modern-3-column-dark-child {
    height: 616.8px;
    width: 619.9px;
    position: absolute;
    margin: 0 !important;
    right: -164.9px;
    bottom: -228.8px;
    border-radius: var(--br-35xl);
    object-fit: contain;
    z-index: 2;
  }
  .modern-3-column-dark {
    align-self: stretch;
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    z-index: 4;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-darkslategray-100);
    font-family: var(--font-jost);
  }
  .group-parent {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
  }
  .group-parent,
  .landing-page,
  .landing-page-inner {
    display: flex;
    justify-content: flex-start;
  }
  .landing-page-inner {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 0 0 1px;
    box-sizing: border-box;
    max-width: 100%;
    flex-shrink: 0;
  }
  .landing-page {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    flex-direction: column;
    align-items: flex-end;
    gap: 7px;
    letter-spacing: normal;
    text-align: left;
    font-size: 75px;
    color: var(--color-white);
    font-family: var(--font-josefin-sans);
  } */

  /* Footer styles */

/* 
/* Footer styles */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
section {
  padding: 70px 10% 70px;
}
img {
  width: 43px;
  height: 64px;
}
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 3.5rem;
  background-color: #F8F9FA;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
}
.footer-content h4 {
  
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #92989F;
  margin-bottom: 1.5rem;
  margin-left: 30px;
}
.footer-content li{
  margin-bottom: 16px;
}
.footer-content li a {
  display: block;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.40s ease;
}
.footer-content li a:hover {
  transform: translateY(-3px) translateX(-5px);
  color: #000;
}
.footer-content p {
  margin: 20px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
@media (max-width: 1690px) {
  section {
    padding: 50px 5% 40px;
  }
}
@media (max-width: 1120px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 2rem;
  }
}
@media (max-width: 700px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 2.5rem;
  }
}