.appear {
    position: relative;
  }
  
  .bottom::before {
    width: 170.02px;
    height: 255.44px;
    position: absolute;
    top: 90px;
    left: 250.44px;
    border-radius: 16px 16px 0px 0px;
    transform: rotate(-0.05deg);
    position: absolute;
  /* height: 100%; */
  /* width: 100%; */

  right: 0.1px;
  bottom: 0.3px;

  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  z-index: 1;
  }

  .primary-color{
    color: #283D4F;
}

.btn-sz-primary{
    width: 100%;
    color: #fff !important;
    background-color: #283D4F !important;
}

.btn-sz-primary:hover{
    background-color: #283D4F;
}

.main-text{
    font-size: 25px;
    line-height: 1.4;
    letter-spacing: 3px;
}

.main-input{
    width: 80%;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    border-bottom: 2px solid #283D4F !important;
}
.img-fluidd {
    height: 102vh !important;
    transform: translate(-2%, -8%);
}
.btn {
    width: 120px;
    position: relative;
    top: -10px;
    color: #283D4F;
}
.back-to-login {
    text-decoration: none;
    position: relative;
    left: -40px !important;
    top: 20px !important;
}
@media (max-width: 468px) {
    .main-text {
        position: relative;
        left: 20px;
    }
    .ma {
        position: relative;
        left: 20px !important;
    }
    .za {
        position: relative;
        left: -35px;
    }
    .pq {
        position: relative;
        left: 20px !important;
    }
    .gs {
        position: relative;
        left: 20px;
    }
    
    .main-input {
        
    }
    input {
        transform: translate(-40%);
    }
    .btn {
        position: relative;
        left: 814px;
    }
    /* .fa {
        transform: translate(13%);
    } */
    
    .fluidee {
        padding: 50px;
    }
    .fa {
        position: relative;
        left: 20px;
    }
    
    
}
@media (min-width: 1280px) and (max-width: 1400px) {
    .back-to-login {
        position: relative;
        left: -70px;
    }
    
}