/* .qr {
    object-fit: cover;
    width: 400px;
    height: 400px;
    border-radius: 5px;
}
.qr-code {
    background-color: #283D4F;
    height: 100vh;
    
} */
.qr {
    object-fit: cover;
    width: 400px;
    height: 400px;
    border-radius: 5px;
}

.qr-code-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height of the container to 100% of viewport height */
    background-color: #283D4F; /* Background color for the entire page */
}

.qr-code {
    max-width: 80%; /* Adjust the width of the content container */
}
@media (max-width: 768px) {
    .qr-code {
        max-width: 110%; 
        /* Adjust the width of the content container for smaller screens */
    }
    .qr {
        width: 300px;
        height: 300px;
    }
}